services:
  postgres:
    image: postgres:17.4
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: insecure
      POSTGRES_DB: smart-home
    volumes:
      - ./postgres:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:8.0-rc1-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis:/data
    restart: unless-stopped

  auth-service:
    image: arsanoshin/smart-home-auth-service:latest
    container_name: auth-service
    ports:
      - "8081:8081"
    environment:
      PORT: 8081
      POSTGRES_URL: postgresql://user:insecure@postgres:5432/smart-home
      REDIS_URL: redis:6379
      SMTP_HOST: <host>
      SMTP_PORT: <port>
      SMTP_USERNAME: <username>
      SMTP_PASSWORD: <password>
      GIN_MODE: release
    volumes:
      - ./keys:/app/keys:ro
    depends_on:
      - postgres
      - redis
    restart: unless-stopped

  devices-api-service:
    image: arsanoshin/smart-home-devices-api-service:latest
    container_name: devices-api-service
    ports:
      - "8082:8082"
    environment:
      PORT: 8082
      POSTGRES_URL: postgresql://user:insecure@postgres:5432/smart-home
      GIN_MODE: release
    volumes:
      - ./keys:/app/keys:ro
    depends_on:
      - postgres
      - auth-service
    restart: unless-stopped

  web:
    image: arsanoshin/smart-home-devices-web:latest
    container_name: web
    ports:
      - "8083:8083"
    restart: unless-stopped